.chat-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
}

.chat {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 20px;
    list-style-type: none;
    overflow: auto;
    max-height: 100%;
}

.message {
    max-width: 40%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.ot_message {
    background: #eeeeee;
}

.my_message {
    background: #dcdcdc;
    margin-right: 0;
    margin-left: auto;
}

.panel {
    width: 100%;
    border-top: solid 1px #dfdfdf;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel input[type="text"] {
    width: 70%;
    height: 40px;
    border: solid 1px #dfdfdf;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 15px;
    background: none;
    outline: none;
}

.panel input[type="submit"] {
    width: 20%;
    height: 40px;
    background: white;
    opacity: 0.8;
    border-radius: 10px;
    color: black;
    border: 1px solid #000000de;
}