.overflow {
    overflow: auto;
}

.pointer {
    cursor: pointer;
}

.img_bg {
    width: 80%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box_header {
    width: 100%;
    height: 50px;
    min-height: 47px;
    border-bottom: solid 1px #dfdfdf;
    padding: 0 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_header {
    display: flex !important;
    flex-direction: row !important;
}

.logo_header p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.logo_header img {
    height: 70% !important;
}

.panel_buttons {
    height: 50px;
    display: flex;
    padding: 10px 25px;
    box-sizing: border-box;
    justify-content: end;
    align-items: center;
    border-top: solid 1px #dfdfdf;
}

.dots {
    width: 7px;
    height: 7px;
    background: #ccc;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
}

.dots::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    position: absolute;
    left: -13px;
}

.dots::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #b6beb6;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    left: 13px;
}

.buttons {
    width: 100px;
    height: 35px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5px;
}

.buttons img {
    height: 50%;
    opacity: 0.5;
}

.container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exit_button {
    cursor: pointer;
    width: 22px;
    height: 22px;
}
