.box_home {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.map_wrapper {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #DFDFDF;
}

.hint {
    flex-direction: column;
    text-align: center;
}

.autocomplete_countries{
    width: 100%;
}

.autocomplete_countries button{
    width: 35px;
}
